<div class="dialog w-75" data-role="dialog" id="{{confirm.identifier}}">
    <div class="dialog-title">{{confirm.caption}}</div>
    <div class="dialog-content">
        <div class="container" style="overflow-y: auto; max-height:600px;">
            <ng-transclude></ng-transclude>
        </div>
    </div>
    <div class="dialog-actions">
        <button class="button js-dialog-close {{confirm.cancelVisible}}">{{confirm.cancel}}</button>
        <button class="button primary js-dialog-close {{confirm.okVisible}}" ng-click="confirm.clickOk()">{{confirm.ok}}</button>
        <button class="button {{confirm.prevVisible}}" ng-click="confirm.clickPrev()" >{{confirm.prev}}</button>
        <button class="button {{confirm.nextVisible}}" ng-click="confirm.clickNext()" >{{confirm.next}}</button>
        <button class="button {{confirm.serviceVisible}}" ng-click="confirm.clickService()" >{{confirm.service}}</button>
    </div>
</div>

