<div class="row m-1">
    <button id="{{card.srcAudioFileUID}}" class="button cycle small bg-green fg-white"
            data-role="audio-button"
            data-audio-src="{{card.srcAudioFile}}"
            data-audio-volume=".9">
        <span class="mif-play"></span>
    </button>
    <input class="m-1" type="text" data-role="input" ng-model="card.contextBuffer" placeholder="введите контекст">
    <button class="button primary m-1" ng-click="card.checkAudio()">проверить</button>
</div>