<div class="row">
    <div class="cell">
        <div class="row">
            <img width="640" class="border" height="480" src="{{card.srcImage}}">
        </div>
        <div class="row">
            <a target="_blank" href="{{card.linkSearchImage}}">search in Google</a>
        </div>
    </div>
    <div class="cell">
        <div class="d-flex flex-justify-start">
            <div class="cell h1">{{card.context}}</div>
            <div class="cell">
                <button id="{{card.srcAudioFileUID}}" class="button cycle large bg-green fg-white"
                        data-role="audio-button"
                        data-audio-src="{{card.srcAudioFile}}"
                        data-audio-volume=".9">
                    <span class="mif-play"></span>
                </button>
            </div>
        </div>
        <div class="d-flex flex-justify-start">{{card.transcription}}</div>
        <div class="d-flex flex-justify-start">
            <ul>
                <li>
                    <a target="_blank" href="{{card.linkYouGlish}}">see the context in YouGlish</a>
                </li>
                <li>
                    <a target="_blank" href="{{card.linkCambridge}}">see the context in Cambridge Dictionary</a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-justify-start">{{card.definition}}</div>
        <div class="d-flex flex-justify-start">
            <ul>
                Examples:
                <li ng-repeat="text in card.examples">{{text}}</li>
                <a target="_blank" href="{{card.linkReversoContext}}">see examples in Reverso Context</a>
            </ul>
        </div>
    </div>
</div>