<!DOCTYPE html>
<html lang="en" ng-app="myApp"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
<!--        <meta name="metro4:init" content="false">-->
        <title>Spring Web</title>
        <link th:href="@{metro4/css/metro-all.min.css}" rel="stylesheet" />
        <script th:src="@{axios/dist/axios.min.js}"></script>
        <script th:src="@{angular/angular.min.js}"></script>
        <script th:src="@{commons.js}"></script>
        <script th:src="@{rest.js}"></script>
        <script th:src="@{main.js}"></script>
        <script th:src="@{factories.js}"></script>
        <script th:src="@{directives.js}"></script>
        <script th:src="@{controllers/CardCtrl.js}"></script>
        <script th:src="@{controllers/SetMakerDialogCtrl.js}"></script>
        <script th:src="@{controllers/SetsSelectCtrl.js}"></script>
        <script th:src="@{controllers/SetsCtrl.js}"></script>
        <script th:src="@{controllers/CardMakerCtrl.js}"></script>
        <script th:src="@{controllers/LearnDialogCtrl.js}"></script>
    </head>
    <body>
    <div data-role="panel">
        <div class="row" ng-controller="SetsCtrl">

            <div class="w-100">
                <ng-include src="'components/SetSelect.html'"></ng-include>
            </div>

            <button class="button alert m-1 small" ng-click="findSets()">Найти</button>
            <button class="button light m-1 small">
                <input type="checkbox"  data-style="2" data-role="checkbox" ng-model="switcher" ng-change="changeSwitcher()"> {{switcherCaption}}
            </button>
            <button class="button primary outline m-1 small" ng-click="addDialogSets()">Добавить</button>
            <button class="button primary outline m-1 small" ng-click="editDialogSets()" ng-disabled="isDisabledEdit">Редактировать</button>
            <button class="button primary outline m-1 small" ng-click="removeDialogSets()" ng-disabled="isDisabledDelete">Удалить</button>
            <button class="button primary outline m-1 small" ng-disabled="isDisabledUnit">Объединить</button>
            <button class="button primary outline m-1 small" ng-click="learnDialog()" ng-disabled="isLearn">Изучать</button>

            <div ng-controller="SetsMakerDialogCtrl">
                <confirm identifier="setsDialog" caption="Добавление набора" cancel="Отменить" ok="Сохранить">
                    <div>
                        <div class="form-group">
                            <label>название</label>
                            <input type="text" data-role="input" ng-model="current.name" />
                        </div>
                        <div class="form-group">
                            <label>описание</label>
                            <textarea data-role="textarea"  ng-model="current.description"></textarea>
                        </div>
                    </div>
                </confirm>
            </div>
            <ng-include src="'components/LearnDialog.html'"></ng-include>

        </div>
    </div>

    <div ng-controller="CardCtrl" data-role="panel" >
        <div style="overflow-y: auto; max-height:600px;">
            <table id="cardTable" class="table compact table-border cell-border">
                <thead>
                    <tr>
                        <th data-sortable="true">
                            <input type="checkbox" data-role="checkbox" ng-model="checkedHeader" ng-change="changeCheckboxHeader()">
                        </th>
                        <th data-sortable="true">слово/фраза</th>
                        <th data-sortable="true">значение</th>
                        <th data-sortable="true">примеры</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="word in listWord">
                        <td >
                            <input type="checkbox" data-role="checkbox" ng-model="word.checkedRow">
                        </td>
                        <td >{{word.form.value}}</td>
                        <td >{{word.def}}</td>
                        <td>
                            <ul>
                                <li ng-repeat="example in word.examples">{{example.text}}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="button primary outline m-1 small" ng-click="addContext()">Добавить</button>
        <button class="button primary outline m-1 small" ng-click="removeContext()">Удалить</button>

        <confirm identifier="contextDialog" caption="Добавление контекста" cancel="Отменить" ok="Сохранить">
                <ng-include src="'components/CardMaker.html'"></ng-include>
        </confirm>


    </div>







    <script th:src="@{metro4/js/metro.min.js}"></script>
    </body>
</html>